#dashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#chart {
  /* position: relative; */
  height: 40vh;
  width: 100vw;
  margin: 3rem;
}
#teams_tasks > form {
    margin-left: 1rem; 
    margin-right: 1rem; 
}
@media (min-width: 768px) {
  #dashboard {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  #chart {
    grid-column-start: 2;
    grid-column-end: 5;
    width: 40vw ;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  #teams_tasks {
    grid-column-start: 3;
    grid-column-end: 9;
  }
  #create_task{
    grid-column: 7 / span 3;
    grid-row-start: 1;
    grid-row-start: 2;
  }
}
