#dashboard {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

#chart {
  grid-column-start: 1;
  grid-column-end: 1;
}

#teams_tasks {
  grid-column-start: 5;
  grid-column-end: 12;
  row-gap: 0.5rem;
}
